body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: white; }

/*Hamburger menu */
.topnav {
  background-color: #D9D9D9;
  overflow: hidden; }

.topnav-element span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #595959;
  cursor: pointer; }

.topnav-element span:hover {
  color: #BF0F0F; }

.topnav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px; }

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: none; }

.topnav a:hover {
  color: #BF0F0F; }

.topnav .icon {
  display: none; }

/*Popup*/
.popup {
  background-color: black;
  width: 200px;
  padding: 15px 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
  text-align: center; }

.popup button {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer; }

.popup h2 {
  color: white; }

.popup a {
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #BF0F0F;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  border-radius: 5px;
  cursor: pointer; }

#close {
  color: #BF0F0F; }

/*DarkMode*/
.dark-mode {
  background-color: #52595D;
  color: white; }

.darkmodeBtn {
  text-decoration: none;
  border: 0;
  background-color: #BF0F0F;
  cursor: pointer;
  color: white; }

.darkmodeBtn:hover {
  color: black; }

/*Header*/
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  height: 75px;
  max-width: 100%;
  margin: auto; }

.headerContainer ul,
li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem; }

.headerContainer li {
  text-decoration: underline; }

.headerContainer li:first-child {
  color: #888787;
  text-decoration: none; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60rem; }

/*Navbar*/
.navigationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: auto; }

.navigationElements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.navigationElements a {
  text-decoration: none; }

.navigationElements a:hover {
  background-color: #BF0F0F; }

.navigationElement {
  padding-left: 35px;
  padding-right: 35px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #888787;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000; }

.navigationElement:first-child {
  border-left: 0.5px solid #888787; }

.navigationElementDescription {
  font-size: 16px;
  color: #474747;
  font-family: "Roboto Condensed";
  line-height: 26px;
  font-weight: 400; }

.navigationElement a {
  text-decoration: none;
  color: black; }

/*Slide show*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto; }

.mySlides {
  display: none; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/*Home Section*/
.homeContainer {
  display: flex;
  gap: 1rem;
  padding-bottom: 70px;
  background-color: #F4F4F4;
  padding-top: 73px; }

.homeImg {
  bottom: 70px;
  margin: auto;
  width: 100%;
  height: 504px;
  left: 0; }

.companyContainer {
  position: relative;
  height: 504px;
  width: 100%;
  margin: auto; }

.titleName {
  text-align: left;
  position: relative;
  padding-bottom: 20px;
  color: #303030;
  font-weight: 700;
  font-size: 42px;
  line-height: 34px; }

.titleName::after {
  content: "";
  position: absolute;
  background-color: #BF0F0F;
  width: 137px;
  height: 6px;
  bottom: 0;
  left: 0; }

.titleProff {
  padding-top: 5px;
  padding-bottom: 30px;
  width: 500px;
  font-size: 28px;
  position: relative;
  color: #474747;
  font-family: "Inter";
  font-weight: 400;
  line-height: 34px; }

.titleProff::after {
  content: "";
  position: absolute;
  background-color: #D9D9D9;
  width: 524px;
  height: 3px;
  bottom: 0;
  left: 0; }

.titleDesc {
  text-align: left;
  color: #474747;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px; }

.buttonInfo {
  background-color: #BF0F0F;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  bottom: 0;
  position: absolute;
  border-radius: 5px; }

.buttonInfo:hover {
  color: black; }

/*Fixed Image Section*/
.fixedImage {
  height: 502px;
  background-image: url("../assets/images/fixedImage.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.fixedDesc span {
  position: relative;
  font-size: 35px;
  color: white;
  letter-spacing: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px; }

.fixedDesc span::after {
  content: '';
  position: absolute;
  background-color: #BF0F0F;
  width: 137px;
  height: 6px;
  bottom: 0; }

/*Distribution Section*/
.distributionContainer {
  padding-top: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem; }

.dImages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem; }

.dImages img {
  width: 400px;
  height: 278px; }

.description {
  position: relative;
  padding-bottom: 11px;
  color: #474747;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px; }

.description::after {
  content: '';
  position: absolute;
  background-color: #BF0F0F;
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0; }

/*About Section*/
.nameContainer {
  width: 100%;
  height: 150px;
  text-align: center;
  margin-top: 148px; }

.name {
  font-size: 42px;
  text-align: center;
  color: #303030;
  font-weight: 700;
  line-height: 34px; }

.secondName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 34px;
  position: relative;
  padding-bottom: 10px;
  color: #474747; }

.secondName::after {
  content: '';
  position: absolute;
  background-color: #BF0F0F;
  width: 137px;
  height: 6px;
  bottom: 0; }

.aboutContainer {
  background-image: url("../assets/images/Rectangle 140.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover; }

.aboutElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 152px;
  width: 100%;
  border-left: 1px solid #888787;
  color: white; }

.aboutElement:first-child {
  border: none; }

/*Products Section*/
.productsContainer {
  background-color: #F4F4F4;
  position: relative;
  padding-bottom: 50px; }

.productsTitle {
  padding-top: 92px;
  color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  position: relative;
  padding-bottom: 60px; }

.productsTitle::after {
  content: '';
  position: absolute;
  background-color: rgba(196, 196, 196, 0.4);
  width: 524px;
  height: 3px;
  bottom: 0; }

.productsDesc {
  color: #474747;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px; }

/*Card Slider Section*/
#container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #F4F4F4;
  display: grid;
  place-items: center; }

#slider-container {
  height: 350px;
  width: 85vw;
  max-width: 1400px;
  background: #F4F4F4;
  position: relative;
  overflow: hidden;
  padding: 20px; }

#slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 8px solid #BF0F0F;
  border-top: 8px solid #BF0F0F; }

#slider-container .btn:hover {
  transform: scale(1.2); }

#slider-container .btn.inactive {
  border-color: black; }

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px; }

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px; }

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all .5s; }

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  background-color: #F4F4F4;
  display: grid;
  place-items: center; }

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.cardDesc {
  position: absolute;
  padding-bottom: 11px;
  color: #474747;
  bottom: 15px;
  left: 2px;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px; }

.cardDesc::after {
  content: '';
  position: absolute;
  background-color: #BF0F0F;
  width: 50px;
  height: 6px;
  bottom: 0;
  left: 0; }

.productsLogo {
  position: absolute;
  left: 0;
  bottom: -25px; }

/*Brands Section*/
.brandContainer {
  padding-bottom: 10px;
  padding-top: 83px; }

.brandTitle {
  color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: auto;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  padding-bottom: 44px;
  position: relative; }

.brandTitle::after {
  content: '';
  position: absolute;
  background-color: rgba(196, 196, 196, 0.4);
  width: 524px;
  height: 3px;
  bottom: 0; }

.brandsCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 50px;
  padding-bottom: 50px; }

.brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.brands img {
  width: 100px;
  height: 50px;
  object-fit: contain; }

.brandDesc {
  text-align: center;
  bottom: 25px;
  padding-left: 15px;
  padding-bottom: 5px;
  color: #474747; }

.buttonBrands {
  background-color: #BF0F0F;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: auto;
  border-radius: 5px; }

.buttonBrands:hover {
  color: black; }

/*Footer Section*/
.footerContainer {
  background-image: url("../assets/images/footerbg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 100px; }

.footerContents {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem; }

.footerContacts {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  height: 200px;
  border-left: 2px solid rgba(255, 255, 255, 0.26);
  padding: 0px 0px 10px 25px; }

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  gap: 1rem; }

.contacts a {
  color: white; }

.contacts a:hover {
  color: #BF0F0F; }

.footerCompanyName {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  font-family: "Inter"; }

.footerNavbar {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 200px;
  font-size: 12px;
  border-left: 1px solid rgba(255, 255, 255, 0.26);
  padding: 0px 0px 10px 25px; }

.footerNavbar a {
  color: white;
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; }

.footerNavbar a:hover {
  color: #BF0F0F; }

.footerSocialmedia {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  gap: 1rem;
  height: 200px;
  border-left: 1px solid rgba(255, 255, 255, 0.26);
  padding: 0px 0px 15px 25px; }

.smlogos {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.smlogos a {
  color: white;
  font-size: 12pt; }

.smlogos a:hover {
  color: #BF0F0F; }

/*Copyright Section*/
.copyrightContent {
  position: absolute;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  color: white; }

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem; }

.copyright a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em; }

.copyright a:hover {
  color: #BF0F0F; }

.copyright span {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em; }

/* Responsibility */
@media only screen and (max-width: 1800px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40rem; } }

@media only screen and (max-width: 1500px) {
  .copyright {
    gap: 5rem; } }

@media only screen and (max-width: 1375px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20rem; } }

@media only screen and (max-width: 1250px) {
  .copyright {
    gap: 2rem; } }

@media only screen and (max-width: 1200px) {
  .homeImg {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain; }
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .companyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .titleDesc {
    text-align: center; }
  .moreInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .distributionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .brandsCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .navigationContainer {
    display: none; }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 0; }
  .topnav a {
    display: block; }
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.icon {
    display: block; }
  .topnav-element {
    display: none; }
  .topnav.responsive a {
    display: block;
    text-align: center; } }

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px); } }

@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px); } }

@media only screen and (max-width: 1070px) {
  .footerContents {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: none; }
  .footerContacts {
    border: none; }
  .footerNavbar {
    border: none; }
  .footerSocialmedia {
    border: none; }
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .copyrightContent {
    height: 200px; }
  .copyright span {
    text-align: center;
    margin-top: 0; }
  .copyright a {
    margin-top: 0; } }

@media only screen and (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 0; } }

@media only screen and (max-width: 900px) {
  .header ul {
    display: none; }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0; }
  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px; }
  #slider-container #slider .slide {
    width: calc(5% - 20px); } }

@media only screen and (max-width: 800px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .fixedDesc span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 20px; } }

@media only screen and (max-width: 710px) {
  .homeImg img {
    width: 100%;
    position: relative;
    height: 100%;
    top: 50px; }
  .homeContainer {
    padding-bottom: 25px;
    padding-top: 25px;
    gap: 0; }
  .headerContainer {
    width: 100% !important; }
  .titleProff {
    width: 100%;
    text-align: center; }
  .companyContainer {
    margin-top: 55px; } }

@media only screen and (max-width: 600px) {
  .homeImg img {
    width: 100%;
    height: 100%;
    top: 40px;
    position: relative; }
  .titleDesc {
    font-size: 15px; }
  .companyContainer {
    margin-top: 50px; }
  .buttonBrands {
    padding: 10px 10px; }
  .buttonInfo {
    padding: 10px 10px; } }

@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px); } }

@media only screen and (max-width: 524px) {
  .productsTitle::after {
    width: 100%; }
  .titleProff::after {
    width: 100%; }
  .brandTitle::after {
    width: 100%; } }

@media only screen and (max-width: 450px) {
  .homeImg img {
    width: 100%;
    position: relative;
    height: 100%;
    top: 25px; }
  .homeImg {
    height: 250px; }
  .companyContainer {
    margin-top: 25px; } }

@media only screen and (max-width: 400px) {
  .dImages img {
    width: 100%; }
  .titleDesc {
    font-size: 10px; }
  .name {
    font-size: 25px;
    text-align: center; }
  .buttonBrands {
    padding: 5px 5px; }
  .buttonInfo {
    padding: 5px 5px; } }

@media only screen and (max-width: 375px) {
  .popup a {
    width: 75px; }
  .companyContainer {
    margin-top: 0; } }

@media only screen and (max-width: 350px) {
  .popup {
    width: 50%; }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0; }
  .headerContainer {
    height: 115px; } }
